{
    "extends": ["@yandex-cloud/eslint-config", "@yandex-cloud/eslint-config/prettier"],
    "overrides": [{
        "files": ["*"],
        "rules": {
            "@typescript-eslint/no-explicit-any": 2,
            "no-useless-concat": 0
        }
    }]
}
