{
    "env": {
        "test": {
            "plugins": ["@babel/plugin-transform-modules-commonjs"]
        }
    },
    "presets": [
        [
            "@diplodoc/babel-preset",
            {
                "env": {
                    "loose": true,
                    "modules": false,
                    "exclude": ["transform-typeof-symbol"]
                },
                "typescript": true
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
