{
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ]
        }
    },
    "presets": [
        [
            "@babel/env",
            {
                "loose": true,
                "modules": false,
                "exclude": ["transform-typeof-symbol"]
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
    ]
}