!e2e/.storybook/
.idea
.vscode
.history
.env
.DS_Store
node_modules
/lib
/dist
/build
/cache
/coverage
/pages-build
/playground
/e2e
/external
.lintstagedrc.js
.eslintrc.js
.prettierrc.js
.stylelintrc.js
jest.config.js
esbuild/**/*.mjs