{
    "extends": ["data-ui"],
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {
        "no-negated-condition": 0,
        "no-param-reassign": 0,
        "no-shadow": 0,
        "no-use-before-define": 0
    }
}
