{
    "extends": ["@yandex-cloud/eslint-config", "@yandex-cloud/eslint-config/prettier"],
    "root": true,
    "overrides": [{
        "files": ["*"],
        "rules": {
            "@typescript-eslint/no-explicit-any": 2,
            "@typescript-eslint/no-namespace": 1,
            "no-shadow": "off",
            "@typescript-eslint/no-shadow": "off"
        }
    }]
}
