{
    "extends": ["@yandex-cloud/eslint-config", "@yandex-cloud/eslint-config/prettier"],
    "root": true,
    "overrides": [{
        "files": ["*"],
        "rules": {
            "@typescript-eslint/no-explicit-any": 2,
        }
    }]
}
