@media print {
    .yfm {
        .yfm-cut {
            &-title {
                padding-left: 0;

                &:before {
                    display: none;
                }
            }

            &-content {
                height: auto;
                padding: 5px 0 15px 30px;
            }
        }
    }
}

.yfm-cut-content {
    .yfm:not(.yfm_no-list-reset) & ol {
        counter-reset: cut-list;

        & > li {
            counter-increment: cut-list;

            &::before {
                content: counters(cut-list, '.') '. ';
            }
        }
    }
}
