@media print {
    .yfm {
        .yfm-cut {
            &-title {
                padding-left: 0;

                &:before {
                    display: none;
                }
            }

            &-content {
                height: auto;
                display: block;
                padding: 5px 0 15px 30px;
            }
        }
    }
}
