.yfm {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        .yfm-clipboard-anchor {
            //reset default button style
            background: none;
            color: var(--yfm-color-link, var(--yfm-color-link-private));
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;

            &:hover {
                color: var(--yfm-color-link-hover, var(--yfm-color-link-hover-private));
            }
        }

        .yfm-anchor,
        .yfm-clipboard-anchor {
            display: inline-block;
            width: 24px;
            padding-right: 4px;
            margin-left: -24px;
            float: left;

            text-align: center;
            font-size: 18px;

            &:focus {
                &::before {
                    opacity: 1;
                }
            }

            &::before {
                content: '#';
                opacity: 0;
            }
        }

        &:hover {
            .yfm-anchor::before,
            .yfm-clipboard-anchor::before {
                opacity: 1;
            }
        }
    }

    table {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            .yfm-anchor,
            .yfm-clipboard-anchor {
                width: 1em;
                margin-left: -1em;
                padding-right: 0;
            }
        }
    }

    .yfm-tabs {
        .yfm-anchor::before,
        .yfm-clipboard-anchor::before {
            position: absolute;
            padding-right: 2px;
        }
    }
}
