@import 'variables';

.yfm {
    h1, h2, h3, h4, h5, h6 {
        .anchor {
            display: inline-block;
            width: 24px;
            padding-right: 4px;
            margin-left: -24px;
            float: left;

            text-align: center;
            font-size: 18px;
            visibility: hidden;

            &::before {
                content: '#';
            }
        }

        &:hover .anchor {
            visibility: visible;
        }

        &:target .anchor {
            color: $brandColor;
            visibility: visible;
        }
    }
}
