.yfm {
    &-clipboard {
        position: relative;

        &:hover {
            .yfm-clipboard-button {
                opacity: 1;
            }
        }

        & > pre {
            border-radius: 10px;
            overflow: hidden;
        }

        &-button {
            position: absolute;
            top: 16px;
            right: 16px;
            z-index: 1;
            opacity: 0;

            //reset default button style
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;

            &:focus {
                opacity: 1;
            }
        }

        &-icon {
            pointer-events: none;
        }

        &::before {
            content: '';
            position: absolute;
            inset: -5px;
        }
    }
}
