.yfm {
    &-clipboard {
        position: relative;

        &:hover {
            .yfm-clipboard-button {
                opacity: 1;
                min-height: 20px;
                min-width: 20px;
            }
        }

        & > pre {
            border-radius: 10px;
            overflow: hidden;
        }

        &-button {
            position: absolute;
            top: 16px;
            right: 16px;
            z-index: 1;
            opacity: 0;

            //reset default button style
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;

            &:focus {
                opacity: 1;
            }
        }

        &-icon {
            pointer-events: none;
        }

        &-inline-code {
            transition: 0.3s;

            &:hover {
                cursor: pointer;
                background-color: var(--yfm-color-code-background-hovered-private);
            }
        }
    }
}
