.yfm {
    &-clipboard {
        position: relative;

        &:hover &-button {
            display: block;
        }

        & > pre {
            border-radius: 10px;
            overflow: hidden;
        }
    }

    &-clipboard-button {
        display: none;
        position: absolute;
        cursor: pointer;
        top: 16px;
        right: 16px;
        z-index: 1;
    }
}
