@import 'private';
@import 'brand';

.yfm {
    @include private-brand();
    @include brand();

    .hljs {
        display: block;
        overflow-x: auto;
        padding: 16px;
        background: var(--yfm-color-hljs-background);
    }

    .hljs,
    .hljs-subst {
        color: var(--yfm-color-hljs-subst);
    }

    .hljs-comment {
        color: var(--yfm-color-hljs-comment);
    }


    .hljs-keyword,
    .hljs-attribute,
    .hljs-selector-tag,
    .hljs-meta-keyword,
    .hljs-doctag,
    .hljs-name {
        font-weight: bold;
    }

    .hljs-type,
    .hljs-string,
    .hljs-number,
    .hljs-selector-id,
    .hljs-selector-class,
    .hljs-quote,
    .hljs-template-tag,
    .hljs-deletion {
        color: var(--yfm-color-hljs-deletion);
    }

    .hljs-title,
    .hljs-section {
        color: var(--yfm-color-hljs-section);
        font-weight: bold;
    }

    .hljs-regexp,
    .hljs-symbol,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-link,
    .hljs-selector-attr,
    .hljs-selector-pseudo {
        color: var(--yfm-color-hljs-pseudo);
    }


    .hljs-literal {
        color: var(--yfm-color-hljs-literal);
    }

    .hljs-built_in,
    .hljs-bullet,
    .hljs-code,
    .hljs-addition {
        color: var(--yfm-color-hljs-addition);
    }


    .hljs-meta {
        color: var(--yfm-color-hljs-meta);
    }

    .hljs-meta-string {
        color: var(--yfm-color-hljs-meta-string);
    }


    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: bold;
    }
}
