.yfm {
    .hljs {
        display: block;
        overflow-x: auto;
        padding: 16px;
        background: var(--yfm-color-hljs-background, var(--yfm-color-hljs-background-private));
    }

    .hljs,
    .hljs-subst {
        color: var(--yfm-color-hljs-subst, var(--yfm-color-hljs-subst-private));
    }

    .hljs-comment {
        color: var(--yfm-color-hljs-comment, var(--yfm-color-hljs-comment-private));
    }

    .hljs-keyword,
    .hljs-attribute,
    .hljs-selector-tag,
    .hljs-meta-keyword,
    .hljs-doctag,
    .hljs-name {
        font-weight: bold;
    }

    .hljs-type,
    .hljs-string,
    .hljs-number,
    .hljs-selector-id,
    .hljs-selector-class,
    .hljs-quote,
    .hljs-template-tag,
    .hljs-deletion {
        color: var(--yfm-color-hljs-deletion, var(--yfm-color-hljs-deletion-private));
    }

    .hljs-title,
    .hljs-section {
        color: var(--yfm-color-hljs-section, var(--yfm-color-hljs-section-private));
        font-weight: bold;
    }

    .hljs-regexp,
    .hljs-symbol,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-link,
    .hljs-selector-attr,
    .hljs-selector-pseudo {
        color: var(--yfm-color-hljs-pseudo, var(--yfm-color-hljs-pseudo-private));
    }

    .hljs-literal {
        color: var(--yfm-color-hljs-literal, var(--yfm-color-hljs-literal-private));
    }

    .hljs-built_in,
    .hljs-bullet,
    .hljs-code,
    .hljs-addition {
        color: var(--yfm-color-hljs-addition, var(--yfm-color-hljs-addition-private));
    }

    .hljs-meta {
        color: var(--yfm-color-hljs-meta, var(--yfm-color-hljs-meta-private));
    }

    .hljs-meta-string {
        color: var(--yfm-color-hljs-meta-string, var(--yfm-color-hljs-meta-string-private));
    }

    .hljs-emphasis {
        font-style: italic;
    }

    .hljs-strong {
        font-weight: bold;
    }
}
