.yfm table td {
    &.cell-align-top-left,
    &.cell-align-bottom-left {
        text-align: start;
    }

    &.cell-align-top-center,
    &.cell-align-center {
        text-align: center;
    }

    &.cell-align-top-right,
    &.cell-align-bottom-right {
        text-align: end;
    }

    &.cell-align-top-left,
    &.cell-align-top-center,
    &.cell-align-top-right {
        vertical-align: top;
    }

    &.cell-align-center {
        vertical-align: middle;
    }

    &.cell-align-bottom-left,
    &.cell-align-bottom-right {
        vertical-align: bottom;
    }
}

.yfm table[sticky-header] {
    position: relative;

    thead {
        position: sticky;
        top: 0;
        left: 1px;

        & th {
            position: relative;
            z-index: 0;
        }

        & th::before {
            content: '';
            background: var(--yfm-color-base);
            position: absolute;
            inset: 0;
            z-index: -2;
        }

        & th::after {
            content: '';
            background: var(--yfm-color-table-row-background);
            position: absolute;
            inset: 0;
            z-index: -1;
        }
    }

    max-height: 70vh;
}
