@import 'variables';

.yfm {
    .yfm-tabs {
        margin-bottom: 15px;

        ol {
            counter-reset: tabs-list;

            & > li {
                counter-increment: tabs-list;

                &::before {
                    content: counters(tabs-list, '.') '. ';
                }
            }
        }
    }

    .yfm-tab-list {
        display: flex;
        margin-bottom: 15px;

        border-bottom: 1px solid $borderColor;
    }

    .yfm-tab {
        margin-bottom: -1px;
        margin-right: 20px;
        border-bottom: 2px solid transparent;

        padding: 6px 0 7px 0;
        font-weight: 700;
        outline: none;
        cursor: pointer;
        user-select: none;
        white-space: break-spaces;

        &:last-child {
            margin-right: 0;
        }

        &:hover, &:active {
            color: $linkHoverColor;
        }

        &.active {
            border-bottom-color: $accentColor;
        }
    }

    .yfm-tab-panel {
        display: none;

        &:first-child {
            margin-top: 0 !important;
        }

        &:last-child {
            margin-bottom: 0 !important;
        }

        &.active {
            display: block;
        }
    }
}
