$baseColor: #ffffff;
$accentColor: #027bf3;

$textColor: rgba(0, 0, 0, 0.7);
$borderColor: rgba(0, 0, 0, 0.07);
$backgroundColor: rgba(0, 0, 0, 0.02);

$codeBorderColor: #dcedfd;
$codeBackgroundColor: rgba(2, 123, 243, 0.08);

$linkColor: $accentColor;
$linkHoverColor: #004080;
