@mixin brand {
    --yfm-color-base: var(--yfm-color-base-private);

    --yfm-color-text: var(--yfm-color-text-private);
    --yfm-color-link: var(--yfm-color-link-private);
    --yfm-color-link-hover: var(--yfm-color-link-hover-private);

    --yfm-color-table: var(--yfm-color-table-private);
    --yfm-color-table-row-background: var(--yfm-color-table-row-background-private);

    --yfm-color-border: var(--yfm-color-border-private);

    --yfm-color-accent: var(--yfm-color-accent-private);

    --yfm-color-inline-code: var(--yfm-color-inline-code-private);
    --yfm-color-inline-code-background: var(--yfm-color-inline-code-background-private);
    --yfm-color-code-background: var(--yfm-color-code-background-private);

    --yfm-color-hljs-background: var(--yfm-color-hljs-background-private);
    --yfm-color-hljs-subst: var(--yfm-color-hljs-subst-private);
    --yfm-color-hljs-comment: var(--yfm-color-hljs-comment-private);
    --yfm-color-hljs-deletion: var(--yfm-color-hljs-deletion-private);
    --yfm-color-hljs-section: var(--yfm-color-hljs-section-private);
    --yfm-color-hljs-pseudo: var(--yfm-color-hljs-pseudo-private);
    --yfm-color-hljs-literal: var(--yfm-color-hljs-literal-private);
    --yfm-color-hljs-addition: var(--yfm-color-hljs-addition-private);
    --yfm-color-hljs-meta: var(--yfm-color-hljs-meta-private);
    --yfm-color-hljs-meta-string: var(--yfm-color-hljs-meta-string-private);

    --yfm-color-note-tip: var(--yfm-color-note-tip-private);
    --yfm-color-note-tip-background: var(--yfm-color-note-tip-background-private);
    --yfm-color-note-warning: var(--yfm-color-note-warning-private);
    --yfm-color-note-warning-background: var(--yfm-color-note-warning-background-private);
    --yfm-color-note-important: var(--yfm-color-note-important-private);
    --yfm-color-note-important-background: var(--yfm-color-note-important-background-private);
    --yfm-color-note-info-background: var(--yfm-color-note-info-background-private);

    --yfm-color-term-title: var(--yfm-color-term-title-private);
    --yfm-color-term-title-hover: var(--yfm-color-term-title-hover-private);
    --yfm-color-term-dfn-background: var(--yfm-color-term-dfn-background-private);
    --yfm-color-term-dfn-shadow: var(--yfm-color-term-dfn-shadow-private);
    --yfm-color-term-dfn-pseudo-shadow: var(--yfm-color-term-dfn-presudo-shadow-private);

    --yfm-color-modal-content: var(--yfm-color-modal-content-private);
    --yfm-color-modal-actions-hover: var(--yfm-color-modal-actions-hover-private);
    --yfm-color-modal-wide-content: var(--yfm-color-modal-wide-content-private);
    --yfm-color-modal-wide-content-overlay: var(--yfm-color-modal-wide-content-overlay-private);
}
