@mixin private-brand {
    --yfm-color-text-private: rgba(0, 0, 0, 0.7);
    --yfm-color-link-private: #027bf3;
    --yfm-color-link-hover-private: #004080;
    --yfm-color-base-private: #ffffff;
    --yfm-color-table-private: #333;
    --yfm-color-border-private: rgba(0, 0, 0, 0.07);
    --yfm-color-table-row-background-private: rgba(0, 0, 0, 0.02);
    --yfm-color-table-row-header-background-private: rgba(247, 247, 247, 1);
    --yfm-color-accent-private: #027bf3;

    --yfm-color-inline-code-private: rgba(59, 96, 128, 1);
    --yfm-color-inline-code-background-private: rgba(107, 132, 153, 0.12);
    --yfm-color-code-background-private: rgba(107, 132, 153, 0.12);
    --yfm-color-code-background-hovered-private: rgba(107, 132, 153, 0.2);

    --yfm-color-hljs-background-private: rgba(107, 132, 153, 0.12);
    --yfm-color-hljs-subst-private: #444;
    --yfm-color-hljs-comment-private: #888888;
    --yfm-color-hljs-deletion-private: #880000;
    --yfm-color-hljs-section-private: #880000;
    --yfm-color-hljs-pseudo-private: #bc6060;
    --yfm-color-hljs-literal-private: #78a960;
    --yfm-color-hljs-addition-private: #397300;
    --yfm-color-hljs-meta-private: #1f7199;
    --yfm-color-hljs-meta-string-private: #4d99bf;

    --yfm-color-note-tip-private: #56bd67;
    --yfm-color-note-tip-background-private: rgba(63, 201, 46, 0.1);
    --yfm-color-note-warning-private: #f19518;
    --yfm-color-note-warning-background-private: rgba(255, 136, 0, 0.15);
    --yfm-color-note-important-private: #ff4645;
    --yfm-color-note-important-background-private: rgba(235, 50, 38, 0.08);
    --yfm-color-note-info-private: #027bf3;
    --yfm-color-note-info-background-private: rgba(2, 123, 243, 0.08);

    --yfm-color-term-title-private: #027bf3;
    --yfm-color-term-title-hover-private: #004080;
    --yfm-color-term-dfn-background-private: rgb(255, 255, 255);
    --yfm-color-term-dfn-shadow-private: rgba(0, 0, 0, 0.15);
    --yfm-color-term-dfn-presudo-shadow-private: rgb(229, 229, 229);

    --yfm-color-modal-content-private: rgb(255, 255, 255);
    --yfm-color-modal-actions-hover-private: rgba(0, 0, 0, 0.05);
    --yfm-color-modal-wide-content-private: rgba(0, 0, 0, 0.85);
    --yfm-color-modal-wide-content-overlay-private: rgb(0, 0, 0);
}
